* {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 252, 247);
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-areas:
    'container'
    'input';
  grid-gap: 10px;
}

#container {
  position: relative;
  text-align: center;
  grid-area: container;
}

#imagem {
  max-width: 100%;
  height: auto;
  filter: blur(15px);
}

#container img {
  width: 50vw;
}

#inputNome {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: antiquewhite;
}

#erro {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
