@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #182625;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-areas:
    'container'
    'input';
  grid-gap: 10px;
}

#container {
  position: relative;
  text-align: center;
  grid-area: container;
  border: solid 50px #455559;
  border-radius: 20px;
  background-color: #455559;
}

#imagem {
  max-width: 100%;
  height: auto;
  filter: blur(15px);
}

#container img {
  min-width: 35vw;
  max-width: 50vw;
  border-radius: 20px;
}

#inputNome {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #28403d;
  color: white;
}

#erro {
  color: #3d5a73;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

#contagem {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 20%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #28403d;
  color: white;
}
